@charset "utf-8";
/*css reset*/
body, div, img, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, table, td, input {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-size: 12px;
    font-family: "Microsft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
a,img,ul,li,dl,dd,dt,p{ margin:0; padding:0; list-style:none;}
a{
	cursor:pointer;
    text-decoration: none;
	
}
.mr50{
	margin-right: 5%;
}
.mr60{
	margin-right: 60px;
}
.mt45{
	margin-top: 50px;
}
.mt25{
	margin-top: 25px;
}
.mb10{
	margin-bottom: 10px;
}
.mb40{
	margin-bottom: 40px;
}
.app_process ul li.mar0,.app_condition ul li.mar0,.app_download ul li.mar0,nav ul li.mar0{
	margin-right: 0;
}
.red{
	color: #f10;
}
